.first
{
    background-color:deepskyblue;
}

.second
{
    background-color:chartreuse;
}

.third
{
    background-color:red;
}

.fourth
{
    background-color:indigo;
}

.fifth
{
    background-color:darkgreen;
}